Repository esdc-devcop/esdc-devcop.github.io, pull requests merged in 2019-10, with the labels that each got.

#44 Question for that FAQ
  guides/tfvc-to-git.md
Labels: guide, question

#52 Clarified the steps in the TFVC to Git guide.
  .gitignore
  assets/tfvc-to-git/tfvc-to-git-create-repo-gccode1.jpg
  assets/tfvc-to-git/tfvc-to-git-create-repo-tfs1.jpg
  assets/tfvc-to-git/tfvc-to-git-create-repo-tfs2.jpg
  assets/tfvc-to-git/tfvc-to-git-find-url-gccode1.jpg
  assets/tfvc-to-git/tfvc-to-git-find-url-gccode2.jpg
  assets/tfvc-to-git/tfvc-to-git-find-url-tfs1.jpg
  assets/tfvc-to-git/tfvc-to-git-find-url-tfs2.jpg
  assets/tfvc-to-git/tfvc-to-git-push-to-remote.jpg
  guides/tfvc-to-git.md
Labels: documentation, guide

#54 Changed image src to relative paths.
  guides/tfvc-to-git.md
Labels: bug, documentation, guide

#41 Clarifying some Git practices
  guides/working-with-git.md
Labels: documentation, recommendation

#47 Postmortem guide
  guides/Postmortem.md
Labels: documentation, guide, process

#46 Suggestion for E2e testing
  recommendation/tools.md
Labels: documentation, recommendation

#56 Migration of docs to other repos
  .github/PULL_REQUEST_TEMPLATE/general.md
  .gitignore
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  assets/tfvc-to-git/tfvc-to-git-create-repo-gccode1.jpg
  assets/tfvc-to-git/tfvc-to-git-create-repo-tfs1.jpg
  assets/tfvc-to-git/tfvc-to-git-create-repo-tfs2.jpg
  assets/tfvc-to-git/tfvc-to-git-find-url-gccode1.jpg
  assets/tfvc-to-git/tfvc-to-git-find-url-gccode2.jpg
  assets/tfvc-to-git/tfvc-to-git-find-url-tfs1.jpg
  assets/tfvc-to-git/tfvc-to-git-find-url-tfs2.jpg
  assets/tfvc-to-git/tfvc-to-git-push-to-remote.jpg
  guides/Postmortem.md
  guides/gitlab-runner.md
  guides/tfs-to-gccode.md
  guides/tfvc-to-git.md
  guides/working-with-git.md
  package-lock.json
  recommendation/tools.md
  strategy/dates.md
  strategy/overview.md
Labels: documentation, guide

#57 fixing readme broken links
  README.md
Labels: bug

#58 Adding links
  strategy/dates.md
Labels: documentation

#60 Adding details for nov
  README.md
  strategy/dates.md
Labels: topic
